

<div class="text-3xl font-bold text-gray-800 mb-6">Our Services</div>

<!-- Images Section -->
<div class="grid grid-cols-3 gap-6">
    <!-- Row 1 -->
    <div class="text-center">
        <a href="{% url 'paper' %}">
            <img src="media/home/paper.jpg" alt="Paper" class="w-40 h-40 rounded-full shadow-lg mx-auto">
            <p>Paper Waste
        </a></p>
    </div>
    <div class="text-center">
        <a href="{% url 'plastic' %}">
            <img src="media/home/plastic.jpg" alt="Plastic" class="w-40 h-40 rounded-full shadow-lg mx-auto">
            <p>Plastic Waste
        </a>
        </p>
    </div>
    <div class="text-center">
        <a href="{% url 'factory' %}">
            <img src="media/home/factory.jpg" alt="Factory" class="w-40 h-40 rounded-full shadow-lg mx-auto">
            <p>Factory Waste
            </p>
        </a>
    </div>
    <!-- Row 2 --> 

    <div class="text-center">
        <a href="{% url 'medical' %}">
            <img src="media/home/medical.jpg" alt="Medical" class="w-40 h-40 rounded-full shadow-lg mx-auto">
            <p>Medical Waste
            </p>
        </a>
    </div>
    <div class="text-center">
        <a href="{% url 'yard' %}">
            <img src="media/home/yard.jpg" alt="Yard" class="w-40 h-40 rounded-full shadow-lg mx-auto">
            <p>Yard Waste
            </p>
        </a>
    </div>
    <div class="text-center">
        <a href="{% url 'bio' %}">
            <img src="media/home/bio.jpg" alt="Bio" class="w-40 h-40 rounded-full shadow-lg mx-auto">
            <p>Biodegradable Waste
        </a>
        </p>
    </div>
</div>